#wrapper {
	margin: 0 auto;
	width: 660px;
}

h1 {
	text-align: center;
}

.card {
	background: url('http://www.furrygraphics.com/Pictures/JPG/Free-stuff-background-canvas-paper-D.jpg');
	border: black solid 1px;
	width: 150px;
	height: 150px;
	margin: 5px;
	float: left;
}